---
title: "Data Science Portfolio"
layout: splash
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/computer.jpg
  actions:
    - label: "Projects"
      url: "https://reynolds-adam.github.io/projects/"
  caption: ""
excerpt: "Welcome to my portfolio. Check out some of the projects I've been working on recently, and feel free to contact me if you have any questions."

intro: 
  - excerpt: '“If you just use the scientific method as a way to approach data-intensive projects, I think you’re more apt to be successful with your outcome.” *-* *Bob Hayes*'

feature_row1:
  - image_path: assets/images/letters.jpg
    alt: "placeholder image 1"
    title: "Text Analysis"
    excerpt: "In this analysis I analyze *text* data."
feature_row2:
  - image_path: assets/images/wood-panel.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Logistic Regression"
    excerpt: "This is the place where you click the link and read more."
    url: "https://reynolds-adam.github.io/about/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: assets/images/boston-full.jpg
    title: "Using Weka to predict crime in South Dakota"
    excerpt: "Is **South Dakota** a real place? No one really knows for sure."
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row1" type="left" %}

#{% include feature_row id="feature_row2" type="left" %}

#{% include feature_row id="feature_row3" type="left" %}

