---
title: "Data Science Portfolio"
layout: splash
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/computer.jpg
  actions:
    - label: "Contact Me"
      url: "mailto:adamreynolds89@gmail.com"
  caption: "Photo credit: Biff"
excerpt: ""
intro: 
  - excerpt: '“I think of data science as more like a practice than a job. Think of the scientific method, where you have to have a problem statement, generate a hypothesis, collect data, analyze data and then communicate the results and take action…. If you just use the scientific method as a way to approach data-intensive projects, I think you’re more apt to be successful with your outcome.” - Bob Hayes'
feature_row:
  - image_path: assets/images/letters.jpg
    alt: "placeholder image 1"
    title: "Text Analysis of Twitter During the Grammys"
    excerpt: "The Grammys are a major event each year. Millions of people tune in to see who will win Artist of the Year."
	url: "#test-link"
	btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/images/wood-panel.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Prediciting Crime Rates Using Classification Models in Weka"
    excerpt: "Which factors are the biggest predictors of crime?"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/images/boston-full.jpg
    title: "Education Level vs Prestige"
    excerpt: "Is prestige determined by education level?"
	url: "#test-link"
	btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
